<?xml version="1.0" encoding="UTF-8"?>

<Installer>
    
<Name>ozplayer</Name>
    
<Version>1.0.0</Version>
    
<Title>ozplayer installation</Title>
    
<Publisher>ozplayer</Publisher>
	 
<ProductUrl>http://www.ozplayer.net</ProductUrl>
	 
<MaintenanceToolName>uninstaller</MaintenanceToolName>
    
<StartMenuDir>ozplayer</StartMenuDir>
    
<TargetDir>C:\ozplayer</TargetDir>
	
<ControlScript>controlscript.js</ControlScript>
	
<InstallerApplicationIcon>app.ico</InstallerApplicationIcon>
	
<InstallerWindowIcon>app.ico</InstallerWindowIcon>
	
<Logo>app-logo.png</Logo>
	
<WizardStyle>Modern</WizardStyle>

</Installer>
