<?xml version="1.0" encoding="UTF-8"?>

<Installer>
    
<Name>OzPlayer</Name>
    
<Version>1.0.0</Version>
    
<Title>OzPlayer Installation</Title>
    
<Publisher>OzPlayer</Publisher>
	 
<ProductUrl>http://www.kodlio.com</ProductUrl>
	 
<MaintenanceToolName>OzPlayerMaintenanceTool</MaintenanceToolName>
    
<StartMenuDir>OzPlayer</StartMenuDir>
    
<TargetDir>C:\OzPlayer</TargetDir>
	
<ControlScript>controlscript.js</ControlScript>
	
<InstallerApplicationIcon>app.ico</InstallerApplicationIcon>
	
<InstallerWindowIcon>app.ico</InstallerWindowIcon>
	
<Logo>app-logo.png</Logo>
	
<WizardStyle>Modern</WizardStyle>

</Installer>
